<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-2" >
    <li class="breadcrumb-item active"><b>Novo</b></li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente:</label>
                    <select class="form-control" [ngModelOptions]= "{standalone: true}"
                    [(ngModel)] = "servico.idCliente">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label >Descrição: </label>
                    <input class="form-control" [(ngModel)]="servico.descricao" type="text" name="descricao" id="inputDescricao"> <!-- servico.descricao após o TowayDatabyding esta a chamar a descrição do ServicoPrestado-->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label >Data: </label>
                    <input class="form-control" [(ngModel)]="servico.data" type="text" name="data" id="inputData"> <!-- servico.data após o TowayDatabyding esta a chamar a descrição do ServicoPrestado-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Preço: </label>
                        <input class="form-control" [(ngModel)]="servico.preco" type="text" name="preco" id="inputPreco"> <!-- servico.preco após o TowayDatabyding esta a chamar a descrição do ServicoPrestado-->
                    </div>
                </div>
        </div>
    </div>


        <div class="row">
            <div class="col-md-3"><button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i>
                Salvar</button></div>
        </div>
    </form>
</div>
